@model EmpresaMvc.ApplicationCore.Entitys.Company;

@{ ViewData["Title"] = "Empresas - Criar"; }


<div class="row align-items-center justify-content-center vh-100">
    @*vh-100*@
    <div class="card col-6">
        <div class="card-header">
            <h1 class="display-4">Criação de empresa</h1>
        </div>
        <div class="card-body">
            <form class="rounded-3" asp-action="Create">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" placeholder="Lease Fast" required  asp-for="Name">
                    <label  asp-for="Name">Nome da Empresa</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="site" placeholder="http://grupoonepar.com.br/" asp-for="Site">
                    <label asp-for="Site">Site da Empresa</label>
                    <span asp-validation-for="Site" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="col-sm-6 col-sm-offset-4">
                        <div class="form-floating input-group mb-3">
                             <input type="number" id="qty_input" class="form-control form-control-sm" asp-for="NumberEmployees" value="1" min="1">
                             <label asp-for="NumberEmployees" >Quantidade de funcionários da Empresa</label>
                             <span asp-validation-for="NumberEmployees" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                
               <div class="text-center justify-content-center">
                    <button type="submit" class="btn btn-outline-dark">Criar</button>
                    <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Index","Company")'" >Voltar</button>
                </div>
            </form>
        </div>
    </div>
</div>
